  <div class="main">
    <input type="text" [(ngModel)]="search" placeholder="Search" value="Silicea Belladonna Special Order">
    <button type="button" (click)="searchNow($event)">Search</button>
    <button type="button" (click)="resetSearchNow($event)">Reset</button><br/>
    <select [(ngModel)]="filter" (change)="searchNow($event)" placeholder="filter">
      <option value=""></option>
      <option *ngFor="let o of filterFields" value="{{o}}">{{o}}</option>
    </select>
    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="0"
      [infiniteScrollThrottle]="2000"
      (scrolled)="onScroll($event)">
      <div class="grid-container">
        <div class="grid-item" *ngFor="let d of dataNotSearch">
          <div class="product_name">{{d.openfda.generic_name}}</div>
          <div>{{d.openfda.brand_name}}</div>
          <div>{{d.openfda.product_type}}</div>
          <div class="text-smaller">{{d.dosage_and_administration}}</div>
          <div class="text-smaller">{{d.purpose}}</div>
          <div class="text-smaller">{{d.indications_and_usage}}</div>
          <div class="product_warning">{{d.warnings}}</div>
          <div class="text-smaller">{{d.active_ingredient}}</div>
          <div class="text-smaller">{{d.inactive_ingredient}}</div>
          <div class="text-smaller">{{d.storage_and_handling}}</div>
        </div>
      </div>
    </div>
    <div>{{errorMessage}}</div>
    <div class="text-center" *ngIf="loading || scrollLoading">
        Loading...
    </div>
    <div *ngIf="completed">No more products to display</div>
  </div>
